.Form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 20px;
  padding: 5px;
}

.Input {
  padding: 5px;
  width: 60vw;
}

.Button__Input {
  margin: 5px;
  border: none;
  border-radius: 8px;
  padding: 7px;
  background-color: slategray;
  color: white;
}

.Label {
  font-size: 1rem;
  padding: 3px;
  color: slategray;
}
