.List {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  padding: 0;
  width: 30%;
}

.List__items {
  background-color: slategray;
  margin-left: 25px;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  color: white;
}
